:root {
  --main-color: #121212;
  --background-color: #1c1c1c;
  --secondary-background-color: #333333;
  --hover-background-color: #444444;
  --text-color: #ffffff;
  --secondary-text-color: #bbbbbb;
  --highlight-color: #6419cc;
  --highlight-hover-color: #4e13a3;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --error-color: #ff4d4d;
  --red: #ff4d4d;
  --red-hover: #bd2929;
  --negative: #b7574a;
  --positive: #4ab757; 
  --negative-hover: #7d3a34;
  --positive-hover: #31803a;
  --cart-control-button: #9b6add;
  --game-detail-text: #cccccc;
  --button-highlight-color: #ffffff;
  --button-secondary-color: #313638;
  --button-hover-color: #bbbbbb;
  --buy-button-color: #6419cc;
  --buy-button-hover-color: #4e13a3;
  --explore-table-color: #666666;
  --game-card-background: #3b3b3b;
  --cart-color: #1e1e1e;
  --page-link-bg-color: #e9ecef;
  --page-link-hover-color: #dee2e6;
}

.logo-icon {
  margin-left: 10px;
}

body, h1, a, button, input {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

/* General Layout */
main {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

/* Header-Navbar Container */
.header-navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px var(--shadow-color);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  top: 0;
  z-index: 1000;
}

header h1 a img {
  height: 40px;
}

header .profile-buttons, header .auth-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  .button, .profile-link {
    border-radius: 20px;
  }
  .button[href*="/register"], .profile-link {
    background-color: var(--highlight-color);
  }
  .button[href*="/register"]:hover, .profile-link:hover {
    background-color: var(--highlight-hover-color);
  }
  #scoins {
    color: var(--highlight-color);
    background-color: var(--text-color);
    font-size: 14px;
    transition: background-color 0.5s;
    cursor: pointer;
  }
  #scoins:hover {
    background-color: var(--secondary-text-color);
  }
}

header .button, header .profile-link {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.2s;
}

header .button:hover, header .profile-link:hover {
  background-color: var(--hover-background-color);
}

header .icon-button {
  background: none;
  color: var(--text-color);
  padding: 8px;
  border-radius: 4px;
  font-size: 1.2em;
  transition: color 0.2s;
}

header .icon-button:hover {
  color: var(--secondary-text-color);
}

/* Navbar */
.navbar {
  padding: 10px 20px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--secondary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .links {
  display: flex;
  gap: 15px;
}

.navbar .btn {
  color: var(--text-color);
  font-size: 1.2em;
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar .btn:hover {
  background-color: var(--secondary-background-color);
}

.navbar .search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar .search-container form {
  display: flex;
  width: 100%;
}

.navbar .form-control {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 0 4px 4px 0;
  width: 100%;
  outline: none;
}

.navbar .btn-outline-primary {
  border: none;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: 4px 0 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.navbar .btn-outline-primary:hover {
  background-color: var(--hover-background-color);
}

.navbar .search-icon {
  font-size: 1.2em;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.2s;
}

.navbar .search-icon:hover {
  color: var(--secondary-text-color);
}

.navbar .btn-link.active {
  background-color: var(--highlight-color);
  color: var(--highlight-text-color);
}

/* Wishlist */
.navbar .wishlist .btn-link {
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  font-size: 1em;
  align-items: center;
  gap: 7px;
  padding-top: 9px;
  #w_count_div {
    padding: 0 0 1px 0;
    text-align: center;
    margin-right: 0;
  }
  #wishlist-count {
    background-color: var(--highlight-color);
    color: var(--button-highlight-color);
    padding: 2px 6px;
    border-radius: 10%;
    font-size: 1.2rem;
  }
}

.navbar .wishlist .btn.active #wishlist-count {
  background-color: var(--text-color);
  color: var(--highlight-color);
}

/* Content Section */
#content {
  padding: 20px;
}

/* Help */
#help {
  padding: 40px 20px;
  text-align: left;
  background-color: var(--background-color);
  color: var(--text-color);
  border-top: 1px solid var(--secondary-background-color);
  position: relative;
}

#help h2 {
  margin-bottom: 20px;
  font-size: 1.6em;
  font-weight: bold;
  color: var(--text-color);
  padding-left: 3em;
}

#help .list-group {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5em;
}

#help .list-group-item {
  background: none;
  border: none;
  padding: 10px 0;
}

#help .btn-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 0.2s;
}

#help .btn-link:hover {
  color: var(--text-color);
}

#help .copyright {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0.8em;
  color: var(--secondary-text-color);
}

/* Alert message */
.notification-popup {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999; /* Ensure it's above other elements */
  display: none; /* Initially hidden */
  font-weight: bold;
}

.alert-success {
  background-color: #28a745;
  color: white;
}

.alert-error {
  background-color: #dc3545;
  color: white;
}

/* Dropdown Styling */
.profile-buttons .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #1e1e1e; /* Matches the website's dark theme */
  border: 1px solid #333333; /* Subtle border for separation */
  border-radius: 8px; /* Rounded corners for a clean look */
  min-width: 160px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4); /* Minimal shadow for depth */
  z-index: 10;
  padding: 8px 0; /* Adds vertical spacing between items */
}

/* Dropdown Links */
.profile-buttons .dropdown-menu a {
  color: var(--text-color); 
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Hover Effects */
.profile-buttons .dropdown-menu a:hover {
  background-color: #ededed;
  color: var(--highlight-color);
}

/* Display Dropdown on Hover */
.profile-buttons .dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown Container */
.profile-buttons .dropdown {
  position: relative;
  display: inline-block;
}

/* Profile Link */
.profile-buttons .profile-link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.profile-buttons .profile-link i {
  margin-right: 6px;
  font-size: 16px;
}

.profile-buttons .profile-link:hover {
  color: #d1d1d1;
}

.profile-buttons #logout {
  color: var(--error-color);
}

.profile-buttons #logout:hover {
  color: var(--red-hover);
}

/* Media Queries */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar .wishlist {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .navbar .wishlist .btn-link {
    justify-content: center;
    gap: 5px;
  }

  .navbar .wishlist #wishlist-count {
    font-size: 1rem;
    padding: 1px 4px;
  }

  .search-container {
    margin-top: 5px;
  }
}

@media (max-width: 576px) {
  .navbar .wishlist .btn-link {
    flex-direction: row;
    align-items: center;
    gap: 3px;
  }

  .navbar .wishlist #wishlist-count {
    font-size: 0.9rem;
    padding: 1px 3px;
  }

  .search-container {
    margin-top: 5px;
  }
}