/* Game Details Image Styling */
.game-details-page .game-image .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.game-details-page .btn-buy-now {
    padding: 8px 16px;
    background-color: var(--buy-button-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game-details-page .btn-buy-now:hover {
    background-color: var(--buy-button-hover-color);
}

/* Add to Cart Button */
.game-details-page .btn-add-to-cart {
    padding: 8px 16px;
    background-color: var(--buy-button-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.game-details-page .btn-add-to-cart:hover {
    background-color: var(--buy-button-hover-color);
}

/* Wishlist Button */
.game-details-page .add-to-wishlist {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s;
    top: 16px;
    right: 16px;
}

.game-details-page .add-to-wishlist:hover {
    color: var(--error-color);
}