.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.top-sellers-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Container for the game card */
.home-game-card {
    box-sizing: border-box;
    position: relative;
    height: 400px;
    overflow: hidden;
}

/* Game thumbnail */
.home-game-card .game-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Game price */
.home-game-card .game-price-thumbnail {
    position: absolute;
    bottom: 10px;
    right: 0;
    margin: 0;
    font-size: 1.2rem;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Dark overlay on hover */
.home-game-card .game-thumbnail::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.home-game-card:hover .game-thumbnail::before {
    opacity: 1;
}

/* Overlay container for video and details */
.home-game-card .overlay {
    position: absolute;
    bottom: -100%; /* Start from below the card */
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: bottom 0.8s ease;
}

.home-game-card:hover .overlay {
    bottom: 0; /* Slide up to occupy 100% */
}

.home-game-card .top-media {
    width: 100%;
    height: 40%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-game-card .top-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Game details overlay */
.home-game-card .game-details {
    width: 100%;
    height: 60%; /* Bottom 60% for the details */
    background: linear-gradient(to top, rgba(116, 128, 124, 1), rgba(116, 128, 124, 1));
    color: var(--text-color);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Game title */
.home-game-card .game-title a {
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
}

/* Game description */
.home-game-card .game-description {
    margin: 5px 0;
    font-size: 0.9rem;
}

/* Game price and platforms */
.home-game-card .game-platforms {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

/* Platform logos */
.home-game-card .game-platforms img {
    width: 20px;
    height: 30px;
    margin-right: 5px;
}

/* Add to cart button */
.home-game-card .add-to-cart {
    margin-top: 10px;
}
