/* Admin Back to Users Profile */
#back-to-user-profile {
    position: relative;
    top: 0;
    left: 0;

    a {
        display: inline-block;
        color: var(--button-highlight-color);
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    a:hover {
        color: var(--secondary-text-color);
    }
}

/* Basic Table Styling */
table.purchase-history-order-card {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow-x: auto;
}

table.purchase-history-order-card th {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #dee2e6;
}

table.purchase-history-order-card td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    color:#fff
}

/* Highlighting Styles */
.delivered-label {
    color: green;
    font-weight: bold;
    margin-right: 5px;
}

.highlighted-game {
    background-color: #d4edda; /* Light green background */
    padding: 2px 4px;
    border-radius: 3px;
    color: #155724; /* Dark green text */
}

/* Badge Styling */
.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.badge.bg-success {
    background-color: #28a745;
    color: white;
}

.badge.bg-warning {
    background-color: #ffc107;
    color: #212529;
}

/* Purchase Details Page Styles */
.puchase-details-page {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2c2f33;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #dcdfe4;
}

.puchase-details-page h1 {
    font-size: 28px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
}

.purchase-details p, .purchase-details a {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #dcdfe4;
}

.purchase-details a {
    font-weight: bold;
}

.purchase-details a:hover {
    color: #ad15ff;
}


.purchase-details p strong {
    color: #ffffff;
    flex-basis: 40%;
}

.purchase-details img {
    width: 50px;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}

.payment-method {
    display: inline-flex;
    align-items: center;
    gap: 8px; /* Space between name and image */
    margin-left: 8px; /* Small space from the strong label */
}

.payment-method img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--buy-button-color);
    color: #ffffff;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #4e13a3;
}

