/* S-Coins Page Styles */
.scoins-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--highlight-color)
}

.scoins-header {
    position: relative;
    text-align: center;
}

.scoins-title {
    font-size: 2.8rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.scoins-history-link {
    position: absolute;
    top: 0px;
    right: 0px;
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    background-color: var(--cart-control-button);
    padding: 8px;
    border-radius: 10px;
}

.scoins-history-link:hover {
    color: var(--highlight-color);
    background-color: var(--text-color);
}

.scoins-lead {
    font-size: 1.2rem;
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 30px;
}

.scoins-info {
    font-size: 1rem;
    color: var(--text-color);
}

.scoins-info h2 {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 10px;
}

.scoins-info ul {
    list-style-type: disc;
    margin-left: 20px;
}

.scoins-info p {
    margin-bottom: 20px;
}

.scoins-balance {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cart-control-button);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.scoins-number {
    margin: 0 5px;
}

.scoins-back-button {
    text-align: center;
    margin-top: 50px;
}

.scoins-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--highlight-color);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.scoins-button:hover {
    background-color: var(--highlight-hover-color);
}

/* SCoins History Page */
.scoins-history-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
}

.scoins-back-link {
    position: absolute;
    top: 10px;
    left: 20px;
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
}

.scoins-back-link:hover {
    color: var(--highlight-color);
}

.scoins-title {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
}

.scoins-history {
    margin-top: 30px;
}

.scoins-history-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.scoins-history-table th, .scoins-history-table td {
    border: 1px solid var(--highlight-color);
    padding: 10px;
    text-align: center;
    background-color: var(--cart-control-button);
}

.scoins-history-table th {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

#zero-used-coins {
    background-color: var(--cart-control-button);
}

#used-coins {
    background-color: var(--negative);
}

#gained-coins {
    background-color: var(--positive);
}

#coins-balance {
    font-size: 1.2rem;
}

#view-details a {
    text-decoration: none;
    color: var(--text-color);
}

#view-details a:hover {
    color: var(--highlight-color);
}

#scoins-note {
    font-size: 1.2rem;
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 1200px) {
    .scoins-container, .scoins-history-container {
        max-width: 700px;
    }
}

@media (max-width: 992px) {
    .scoins-container, .scoins-history-container {
        max-width: 600px;
    }
    .scoins-title {
        font-size: 2.4rem;
    }
    .scoins-history-link, .scoins-back-link {
        font-size: 1.3rem;
    }
    .scoins-balance {
        font-size: 1.3rem;
    }
}

@media (max-width: 768px) {
    .scoins-container, .scoins-history-container {
        max-width: 100%;
        padding: 15px;
    }
    .scoins-title {
        font-size: 2rem;
    }
    .scoins-history-link, .scoins-back-link {
        font-size: 1.2rem;
    }
    .scoins-balance {
        font-size: 1.2rem;
        padding: 15px;
    }
    .scoins-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .scoins-history-table {
        display: block;
        width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    .scoins-history-table th, .scoins-history-table td {
        white-space: nowrap; /* Prevent text wrapping */
    }
}

@media (max-width: 576px) {
    .scoins-title {
        font-size: 1.8rem;
    }
    .scoins-history-link, .scoins-back-link {
        font-size: 1rem;
    }
    .scoins-balance {
        font-size: 1rem;
        padding: 10px;
    }
    .scoins-button {
        padding: 6px 12px;
        font-size: 0.8rem;
    }
    .scoins-history-table {
        display: block;
        width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
    }
    .scoins-history-table th, .scoins-history-table td {
        white-space: nowrap; /* Prevent text wrapping */
    }   
}