/* Wishlist Styling */

/* Add to Cart Button */
.wishlist .btn-add-to-cart {
    padding: 8px 16px;
    background-color: var(--buy-button-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.wishlist .btn-add-to-cart:hover {
    background-color: var(--buy-button-hover-color);
}


